<!-- boots.hbs -->
[ <a href='/'>Libraries</a> | <a href='/boots'>Books</a> | <a href="/librarians">Librarians</a> | <a href="/readers">Readers</a> | <a href="/transactions">Transactions</a> | <a href="/copies">Copies</a> | <a href="/details">Transaction Details</a> | <a href="/codes">Status Codes</a>]

<h1>Books Database</h1>
<p><strong>Please see below for current titles in circulation in the library system:</strong></p>

{{!-- Create a table --}}
<table id="books-table" border="2" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Remove</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.authorName}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.year}}</td>
            <td>{{this.publisher}}</td>
            <td><button onclick="deleteBook({{this.bookID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_book.js"></script>

<h2>Add a New Book</h2>
<p></p>
<form id="add-person-form" method="POST" action="/">
    <label for="input-fname">Title </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Author: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-homeworld">Genre: </label>
    <input type="number" name="input-homeworld" id="input-homeworld">

    <label for="input-age">Year: </label>
    <input type="number" name="input-age" id="input-age">

    <label for="input-age">Publisher: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>

<h2>Search Books</h2>
<p></p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Title: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Author: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Genre: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>
