<!-- index.hbs -->
[ <a href='/boots'>Books</a> | <a href="boots.hbs">Librarians</a> | <a href="boots.hbs">Readers</a> | <a href="boots.hbs">Transactions</a> ]

<h1>Libraries Database</h1>
<p><strong>Please see below for current active libraries in the system:</strong></p>

{{!-- Create a table --}}
<table id="libraries-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Remove</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.libraryID}}>
            <td>{{this.libraryID}}</td>
            <td>{{this.libraryName}}</td>
            <td>{{this.location}}</td>
            <td><button onclick="deleteLibrary({{this.libraryID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_library.js"></script>

<h2>Adding a New Library</h2>
<p></p>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">Library Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Location: </label>
    <input type="text" name="input-lname" id="input-lname">

    <input type="submit">
</form>

<h2>Search</h2>
<p>Search for an existing library in the system by location:</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Location: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Updating Library Info</h2>
<p>Update an existing location's library name below:</p>
<form id="update-library-form-ajax">

    <label for="input-fullname">Existing Library Location: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Location</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.fname}} {{this.lname}}</option>
        {{/each}}
    </select>

    <label for="input-homeworld">Library Name: </label>
    <select name="input-homeworld" id="input-homeworld-update">
        <option>Select a Library</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_person.js"></script>