<!-- index.hbs -->
[ <a href='/'>Libraries</a> | <a href='/boots'>Books</a> | <a href="/librarians">Librarians</a> | <a href="/readers">Readers</a> | <a href="/transactions">Transactions</a> | <a href="/copies">Copies</a> | <a href="/details">Transaction Details</a> | <a href="/codes">Status Codes</a>]

<h1>Active Librarians</h1>
<p><strong>Please see below for current active librarians in the system:</strong></p>

{{!-- Create a table --}}
<table id="librarians-table" border="2" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Remove</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.librarianID}}>
            <td>{{this.librarianID}}</td>
            <td>{{this.libraryID}}</td>
            <td>{{this.librarianName}}</td>
            <td>{{this.age}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteLibrarian({{this.librarianID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_librarian.js"></script>

<h2>Add a New Librarian</h2>
<p></p>
<form id="add-person-form" method="POST" action="/add-person-form">
    <label for="input-fname">Librarian Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Library Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-lname">Age: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-lname">Email: </label>
    <input type="text" name="input-lname" id="input-lname">

    <input type="submit">
</form>

<h2>Search</h2>
<p>Search for an existing librarian in the system:</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Library Name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Library</option>
        {{#each data}}
        <option value="{{this.libraryID}}">{{this.location}}</option>
        {{/each}}
    </select>
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Librarian Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Update Librarian Info</h2>
<p>Update an existing librarian's information below:</p>
<form id="update-library-form-ajax">

    <label for="input-fullname">Existing Librarian ID: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.librarianID}}">{{this.librarianID}}</option>
        {{/each}}
    </select>

    <label for="input-lname">Update Librarian Name: </label>
    <input type="text" name="input-lname" id="input-lname">
    <label for="input-lname">Update Library: </label>
    <input type="text" name="input-lname" id="input-lname">
    <label for="input-lname">Update Age: </label>
    <input type="text" name="input-lname" id="input-lname">
    <label for="input-lname">Update Email: </label>
    <input type="text" name="input-lname" id="input-lname">
    <input type="submit">

</form>

<script src="./js/update_person.js"></script>